
.has-bg-img { background: url('../images/cover.png')center center; background-size:cover; }

#eventButtons{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#background{
    background-image: url("../images/mum.jpg");

}